<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Vlab</title>
    <meta property="og:type" content="website">
    <meta name="description" content="KARE Modern Virtual Lab.">
    <link rel="icon" type="image/png" sizes="300x168" href="static/img/courseGraphic.png?h=cee61a77e4118dae6e7aa20b089c5084">
    <link rel="icon" type="image/png" sizes="300x168" href="static/img/courseGraphic.png?h=cee61a77e4118dae6e7aa20b089c5084">
    <link rel="icon" type="image/png" sizes="300x168" href="static/img/courseGraphic.png?h=cee61a77e4118dae6e7aa20b089c5084">
    <link rel="icon" type="image/png" sizes="300x168" href="static/img/courseGraphic.png?h=cee61a77e4118dae6e7aa20b089c5084">
    <link rel="icon" type="image/png" sizes="300x168" href="static/img/courseGraphic.png?h=cee61a77e4118dae6e7aa20b089c5084">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css?h=64acbbf2e60e1777c97bbff9cad5df8f">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Kanadaka&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Telivigala&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aladin&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alex+Brush&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allan&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amarante&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asset&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atma&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="static/fonts/fontawesome5-overrides.min.css?h=c2a3618fc145edb3ca7fb92db4b9f32b">
    <link rel="stylesheet" href="static/css/Boostrap-Tabs.css?h=9159c6af58493105f16663dd19b38c98">
    <link rel="stylesheet" href="static/css/Bootstrap-DataTables.css?h=8ce6826f14742b50e48275c33befb8d9">
    <link rel="stylesheet" href="static/css/Features-Clean.css?h=b4035f0c26446edaa24f97515c00550e">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/login.css?h=dc14ae4e19f1297d08f4fa62b22d4fc8">
    <link rel="stylesheet" href="static/css/Minimal-tabs-1.css?h=e4d7f961feb67f4e577d8f791e8abe3c">
    <link rel="stylesheet" href="static/css/Minimal-tabs.css?h=e4d7f961feb67f4e577d8f791e8abe3c">
    <link rel="stylesheet" href="static/css/Navigation-Clean.css?h=3b0fa0e1db1f6b741d563f45f6962be5">
    <link rel="stylesheet" href="static/css/Navigation-with-Button.css?h=f60517195f567c1532bf546ea17df31d">
    <link rel="stylesheet" href="static/css/Navigation-with-Search.css?h=229772c539e6c2c6adb8f01fe596a7ca">
    <link rel="stylesheet" href="static/css/Team-Boxed.css?h=82bbec4cae98efe5fc4bdd3d9d621fc2">
    <link rel="stylesheet" href="static/css/Team-Clean.css?h=1ac6925d4adee31e563b4c0fad385e0e">
    <link rel="stylesheet" href="static/css/Team-with-rotating-cards.css?h=f53d22b660c53248ec6c03b0cf77b0f1">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-atom"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Vlab</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="index.html"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="courses.html"><i class="fas fa-table"></i><span>My Courses</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="CourseIntro.html"><i class="fas fa-chalkboard-teacher"></i><span>&nbsp;Course Unerolled</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="EnrolledCourse.html"><i class="fas fa-chalkboard-teacher"></i><span>&nbsp;Course Erolled</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="404.html"><i class="fas fa-exclamation-circle"></i><span>Page Not Found</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="blank.html"><i class="fa fa-code"></i><span>Code Ground</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="profile.html"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="login.html"><i class="far fa-user-circle"></i><span>Login</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand sticky-top bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..."><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>Lab Manual uploaded !<br>Course: AIML</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>New Layouts for code ground under beta versions for better UI.</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>Vlab will be under maintenance on<br>&nbsp;15 august (9pm-12pm)<br></p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">7</span><i class="fas fa-envelope fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="static/img/avatars/avatar4.jpeg?h=fefb30b61c8459a66bd338b7d790c3d5">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span style="color: var(--bs-indigo);">Last day for submitting the a<br>course: dbms<br></span></div>
                                                <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="static/img/avatars/avatar2.jpeg?h=5d142be9441885f0935b84cf739d4112">
                                                <div class="status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span style="color: var(--bs-red);">Pending Assignment!<br>course: ML&nbsp;</span></div>
                                                <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="static/img/avatars/avatar5.jpeg?h=35dc45edbcda6b3fc752dab2b0f082ea">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Login detected in new device</span></div>
                                                <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                    </div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">Profile Name</span><img class="border rounded-circle img-profile" src="static/img/avatars/avatar1.jpeg?h=0ecc82101fb9a10ca459432faa8c0656"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="profile.html"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a><a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Activity log</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="login.html"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main>
                    <!-- Start: Card With Tab Navigation -->
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                                <li class="nav-item" style="padding: 2px 0px;"><a class="nav-link active" id="item-1-1-tab" role="tab" aria-controls="item-1-1" aria-selected="true" href="#item-1-1" data-bs-toggle="tab" style="padding: 2px 0px 2px 2px;height: 100%;">Course</a></li>
                                <li class="nav-item"><a class="nav-link" id="item-1-2-tab" role="tab" aria-controls="item-1-2" aria-selected="false" href="#item-1-2" data-bs-toggle="tab" style="padding: 2px 0px 2px 2px;height: 100%;">Lab Manual &amp; Tasks</a></li>
                                <li class="nav-item"><a class="nav-link" id="item-1-3-tab" role="tab" aria-controls="item-1-3" aria-selected="false" href="#item-1-3" data-bs-toggle="tab" style="padding: 2px 0px 2px 2px;height: 100%;">Materials</a></li>
                            </ul>
                        </div>
                        <div class="card-body" style="padding: 2px 2px;">
                            <div id="nav-tabContent" class="tab-content">
                                <div id="item-1-1" class="tab-pane fade show active" role="tabpanel" aria-labelledby="item-1-1-tab">
                                    <div class="container-fluid" style="padding: 0px 2px;">
                                        <div class="card">
                                            <div class="courseImg"><img class="img-thumbnail img-fluid" src="static/img/courseGraphic.png?h=cee61a77e4118dae6e7aa20b089c5084" style="height: 30vh;"></div>
                                            <div></div>
                                            <div class="card-body" style="padding: 2px;">
                                                <h3 class="text-dark mb-1"><strong>Course Details</strong><br></h3>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Course Name</td>
                                                                <td>Introduction to Machine Learning</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Course Code</td>
                                                                <td>CSE18RXXX</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Course Coordinator</td>
                                                                <td>Mr. R. Raja Subramanian</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Classes</td>
                                                                <td>All CSE&nbsp; II nd Year</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <h4 class="card-title">Course Description</h4>
                                                <p class="card-text">Machine learning is the science of getting computers to act without being explicitly programmed. In the past decade, machine learning has given us self-driving cars, and many more advancements.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container" style="padding: 8px 2px;">
                                        <!-- Start: Card With Tab Navigation -->
                                        <div class="card" style="margin-top: 10px;">
                                            <div class="card-header">
                                                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                                                    <li class="nav-item"><a class="nav-link active" id="item-1-1-tab" role="tab" aria-controls="item-1-1" aria-selected="true" href="#item-1-1" data-bs-toggle="tab">Roles</a></li>
                                                    <li class="nav-item"><a class="nav-link" id="item-1-2-tab" role="tab" aria-controls="item-1-2" aria-selected="false" href="#item-1-2" data-bs-toggle="tab">Classes Enrolled and Students</a></li>
                                                    <li class="nav-item"><a class="nav-link" id="item-1-3-tab" role="tab" aria-controls="item-1-3" aria-selected="false" href="#item-1-3" data-bs-toggle="tab">Third Item</a></li>
                                                </ul>
                                            </div>
                                            <div class="card-body">
                                                <div id="nav-tabContent" class="tab-content">
                                                    <div id="item-1-1" class="tab-pane fade show active" role="tabpanel" aria-labelledby="item-1-1-tab">
                                                        <h4>Roles</h4>
                                                        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                                    </div>
                                                    <div id="item-1-2" class="tab-pane fade" role="tabpanel" aria-labelledby="item-1-2-tab">
                                                        <h4>Second Item Title</h4>
                                                        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button>
                                                    </div>
                                                    <div id="item-1-3" class="tab-pane fade" role="tabpanel" aria-labelledby="item-1-3-tab">
                                                        <h4>Third Item Title</h4>
                                                        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- End: Card With Tab Navigation -->
                                    </div>
                                </div>
                                <div id="item-1-2" class="tab-pane fade" role="tabpanel" aria-labelledby="item-1-2-tab">
                                    <h4>Second Item Title</h4>
                                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button>
                                </div>
                                <div id="item-1-3" class="tab-pane fade" role="tabpanel" aria-labelledby="item-1-3-tab">
                                    <h4>Third Item Title</h4>
                                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><button class="btn btn-primary" type="button">Button</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- End: Card With Tab Navigation -->
                </main>
            </div>
            <footer class="bg-white shadow-lg sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Vlab 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/bs-init.js?h=e2b0d57f2c4a9b0d13919304f87f79ae"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="static/js/Bootstrap-DataTables.js?h=ae06441082f660b204a3db1fc70b2970"></script>
    <script src="static/js/button.js?h=680b4117b702922add05e60855cb5960"></script>
    <script src="static/js/login.js?h=366aa5c761871fdf64f292a061bd5cf6"></script>
    <script src="static/js/theme.js?h=79f403485707cf2617c5bc5a2d386bb0"></script>
</body>

</html>