<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Vlab</title>
    <meta property="og:type" content="website">
    <meta name="description" content="KARE Modern Virtual Lab.">
    <link rel="icon" type="image/png" sizes="300x168"
        href="{{url_for('static',filename='img/courseGraphic.png')}}">
    <link rel="icon" type="image/png" sizes="300x168"
        href="{{url_for('static',filename='img/courseGraphic.png')}}">
    <link rel="icon" type="image/png" sizes="300x168"
        href="{{url_for('static',filename='img/courseGraphic.png')}}">
    <link rel="icon" type="image/png" sizes="300x168"
        href="{{url_for('static',filename='img/courseGraphic.png')}}">
    <link rel="icon" type="image/png" sizes="300x168"
        href="{{url_for('static',filename='img/courseGraphic.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atma&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='fonts/fontawesome5-overrides.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/Boostrap-Tabs.css')}}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/Minimal-tabs-1.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/Minimal-tabs.css')}}">
    
</head>

<body id="page-top">
    <div id="wrapper">
        {% include 'sideNav.html' %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% include "topNav.html" %}
                <main>
                    <!-- Start: Card With Tab Navigation -->
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                                <li class="nav-item" style="padding: 2px 0px;"><a class="nav-link active"
                                        id="item-1-1-tab" role="tab" aria-controls="item-1-1" aria-selected="true"
                                        href="#item-1-1" data-bs-toggle="tab"
                                        style="padding: 2px 0px 2px 2px;height: 100%;">Course</a></li>
                                <li class="nav-item"><a class="nav-link" id="item-1-2-tab" role="tab"
                                        aria-controls="item-1-2" aria-selected="false" href="#item-1-2"
                                        data-bs-toggle="tab" style="padding: 2px 0px 2px 2px;height: 100%;">Lab Manual
                                        &amp; Tasks</a></li>
                                <li class="nav-item"><a class="nav-link" id="item-1-3-tab" role="tab"
                                        aria-controls="item-1-3" aria-selected="false" href="#item-1-3"
                                        data-bs-toggle="tab"
                                        style="padding: 2px 0px 2px 2px;height: 100%;">Materials</a></li>
                            </ul>
                        </div>
                        <div class="card-body" style="padding: 2px 2px;">
                            <div id="nav-tabContent" class="tab-content">
                                <div id="item-1-1" class="tab-pane fade show active" role="tabpanel"
                                    aria-labelledby="item-1-1-tab">
                                    <div class="container-fluid" style="padding: 0px 2px;">
                                        <div class="card">
                                            <div class="courseImg" style="text-align: center;"><img class="img-thumbnail img-fluid"
                                                    src="{{url_for('static',filename='img/courseGraphic.png')}}"
                                                    style="height: 30vh;"></div>
                                            <div></div>
                                            <div class="card-body" style="padding: 2px;">
                                                <h3 class="text-dark mb-1"><strong>Course Details</strong><br></h3>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Course Name</td>
                                                                <td>Introduction to Machine Learning</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Course Code</td>
                                                                <td>CSE18RXXX</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Course Coordinator</td>
                                                                <td>Mr. R. Raja Subramanian</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Classes</td>
                                                                <td>All CSE&nbsp; II nd Year</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <h4 class="card-title">Course Description</h4>
                                                <p class="card-text">Machine learning is the science of getting
                                                    computers to act without being explicitly programmed. In the past
                                                    decade, machine learning has given us self-driving cars, and many
                                                    more advancements.<br></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container" style="padding: 8px 2px;">
                                        <!-- Start: Card With Tab Navigation -->
                                        <div class="card" style="margin-top: 10px;">
                                            <div class="card-header">
                                                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" id="item-2-1-tab" role="tab"
                                                            aria-controls="item-2-1" aria-selected="true"
                                                            href="#item-2-1" data-bs-toggle="tab">Roles</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="item-2-2-tab" role="tab"
                                                            aria-controls="item-2-2" aria-selected="false"
                                                            href="#item-2-2" data-bs-toggle="tab">Classes Enrolled and
                                                            Students</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="item-2-3-tab" role="tab"
                                                            aria-controls="item-2-3" aria-selected="false"
                                                            href="#item-2-3" data-bs-toggle="tab">Third Item</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="card-body">
                                                <div id="nav-tabContent" class="tab-content">
                                                    <div id="item-2-1" class="tab-pane fade show active" role="tabpanel"
                                                        aria-labelledby="item-2-1-tab">
                                                        <h4>Roles</h4>
                                                        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
                                                            justo odio,
                                                            dapibus ac facilisis in, egestas eget quam. Donec id elit
                                                            non mi porta gravida
                                                            at eget metus.</p>
                                                    </div>
                                                    <div id="item-2-2" class="tab-pane fade" role="tabpanel"
                                                        aria-labelledby="item-2-2-tab">
                                                        <h4>Second Item Title</h4>
                                                        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
                                                            justo odio,
                                                            dapibus ac facilisis in, egestas eget quam. Donec id elit
                                                            non mi porta gravida
                                                            at eget metus.</p>
                                                        <button class="btn btn-primary" type="button">Button</button>
                                                    </div>
                                                    <div id="item-2-3" class="tab-pane fade" role="tabpanel"
                                                        aria-labelledby="item-2-3-tab">
                                                        <h4>Third Item Title</h4>
                                                        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras
                                                            justo odio,
                                                            dapibus ac facilisis in, egestas eget quam. Donec id elit
                                                            non mi porta gravida
                                                            at eget metus.</p>
                                                        <button class="btn btn-primary" type="button">Button</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End: Card With Tab Navigation -->
                                    </div>
                                </div>
                                <div id="item-1-2" class="tab-pane fade" role="tabpanel" aria-labelledby="item-1-2-tab">
                                    <h4>Second Item Title</h4>
                                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
                                        metus.</p><button class="btn btn-primary" type="button">Button</button>
                                </div>
                                <div id="item-1-3" class="tab-pane fade" role="tabpanel" aria-labelledby="item-1-3-tab">
                                    <h4>Third Item Title</h4>
                                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus
                                        ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
                                        metus.</p><button class="btn btn-primary" type="button">Button</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- End: Card With Tab Navigation -->
                </main>
            </div>
            <footer class="bg-white shadow-lg sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Vlab 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{url_for('static',filename='js/bs-init.js')}}"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="{{url_for('static',filename='js/Bootstrap-DataTables.js')}}"></script>
    <script src="{{url_for('static',filename='js/button.js')}}"></script>
    <script src="{{url_for('static',filename='js/login.js')}}"></script>
    <script src="{{url_for('static',filename='js/theme.js')}}"></script>
</body>

</html>