<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Vlab</title>
    <meta property="og:type" content="website">
    <meta name="description" content="KARE Modern Virtual Lab.">
    <link rel="icon" type="image/png" sizes="300x168" href="static/img/courseGraphic.png?h=cee61a77e4118dae6e7aa20b089c5084">
    <link rel="icon" type="image/png" sizes="300x168" href="static/img/courseGraphic.png?h=cee61a77e4118dae6e7aa20b089c5084">
    <link rel="icon" type="image/png" sizes="300x168" href="static/img/courseGraphic.png?h=cee61a77e4118dae6e7aa20b089c5084">
    <link rel="icon" type="image/png" sizes="300x168" href="static/img/courseGraphic.png?h=cee61a77e4118dae6e7aa20b089c5084">
    <link rel="icon" type="image/png" sizes="300x168" href="static/img/courseGraphic.png?h=cee61a77e4118dae6e7aa20b089c5084">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css?h=64acbbf2e60e1777c97bbff9cad5df8f">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Kanadaka&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Telivigala&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aladin&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alex+Brush&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allan&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amarante&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asset&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atma&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="static/fonts/fontawesome5-overrides.min.css?h=c2a3618fc145edb3ca7fb92db4b9f32b">
    <link rel="stylesheet" href="static/css/Boostrap-Tabs.css?h=9159c6af58493105f16663dd19b38c98">
    <link rel="stylesheet" href="static/css/Bootstrap-DataTables.css?h=8ce6826f14742b50e48275c33befb8d9">
    <link rel="stylesheet" href="static/css/Features-Clean.css?h=b4035f0c26446edaa24f97515c00550e">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/login.css?h=dc14ae4e19f1297d08f4fa62b22d4fc8">
    <link rel="stylesheet" href="static/css/Minimal-tabs-1.css?h=e4d7f961feb67f4e577d8f791e8abe3c">
    <link rel="stylesheet" href="static/css/Minimal-tabs.css?h=e4d7f961feb67f4e577d8f791e8abe3c">
    <link rel="stylesheet" href="static/css/Navigation-Clean.css?h=3b0fa0e1db1f6b741d563f45f6962be5">
    <link rel="stylesheet" href="static/css/Navigation-with-Button.css?h=f60517195f567c1532bf546ea17df31d">
    <link rel="stylesheet" href="static/css/Navigation-with-Search.css?h=229772c539e6c2c6adb8f01fe596a7ca">
    <link rel="stylesheet" href="static/css/Team-Boxed.css?h=82bbec4cae98efe5fc4bdd3d9d621fc2">
    <link rel="stylesheet" href="static/css/Team-Clean.css?h=1ac6925d4adee31e563b4c0fad385e0e">
    <link rel="stylesheet" href="static/css/Team-with-rotating-cards.css?h=f53d22b660c53248ec6c03b0cf77b0f1">
</head>

<body class="bg-gradient-primary">
    <!-- Start: Navigation with Button -->
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="width: 100%;padding: 10px 0px 5px 0px ;">
        <div class="container" id="navContainer1"><a class="navbar-brand float-start" style="background: var(--bs-blue);color: var(--bs-white);padding: 5px 10px;border-radius: 4px;margin: 0px;"><i class="fas fa-atom"></i>&nbsp; Vlab</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link borderNavLog" href="blank.html">&lt;Code Ground&gt;</a></li>
                    <li class="nav-item"><a class="nav-link borderNavLog" style="color: #465765;" href="courses.html">labs</a></li>
                    <li class="nav-item">
                        <form class="me-auto search-form" target="_self" style="margin: 0px 0px;margin-right: 2rem !important;width: 100%;">
                            <div class="d-flex align-items-center borderNavLog"><label class="form-label d-flex mb-0" for="search-field"><i class="fa fa-search" style="padding: 12px;"></i></label><input class="form-control search-field" type="search" id="search-field" name="search" style="width: 8rem;padding: 3px;" placeholder="search for user"></div>
                        </form>
                    </li>
                </ul><span class="navbar-text actions borderNavLog" id="navbarspan"> 
                    <a class="login goToLogin" role="button">Log In</a>
                    <a class="btn btn-light action-button goToReg" role="button">Sign Up</a></span>
            </div>
        </div>
    </nav><!-- End: Navigation with Button -->
    <div class="container" style="width:60%;padding:10px">
        {% include'warnings.html' %}
    </div>
    <div>
        <div class="row justify-content-center" style="margin: 0px 12px;">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="carousel slide" data-bs-ride="carousel" data-bs-interval="false" id="carousel-1">
                    <div class="carousel-inner">
                        <div class="carousel-item {{slide1}}" id="forgotPwd">
                            <div class="card shadow-lg o-hidden border-0 my-5">
                                <div class="card-body p-0">
                                    <div class="row">
                                        <div class="col-lg-6 d-none d-lg-flex">
                                            <div class="flex-grow-1 bg-password-image" style="background-image: url(&quot/static/img/Pass.jpg&quot;);"></div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="p-5">
                                                <div class="text-center">
                                                    <h4 class="text-dark mb-2">Forgot Your Password?</h4>
                                                    <p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
                                                </div>
                                                <form class="user">
                                                    <div class="mb-3"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="email"></div><button class="btn btn-primary d-block btn-user w-100" type="submit">Reset Password</button>
                                                </form>
                                                <div class="text-center">
                                                    <hr><a class="small goToReg" role="button">Create an Account!</a>
                                                </div>
                                                <div class="text-center"><a class="small goToLogin" role="button">Already have an account? Login!</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item {{slide2}}" id="LoginSlide">
                            <div class="card shadow-lg o-hidden border-0 my-5">
                                <div class="card-body p-0">
                                    <div class="row">
                                        <div class="col-lg-6 d-none d-lg-flex">
                                            <div class="flex-grow-1 bg-login-image" style="background-image: url(&quot/static/img/pixabay_school-online-classes_1200.jpg&quot;);"></div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="p-5">
                                                <div class="text-center">
                                                    <h4 class="text-dark mb-4">Welcome Back!<br></h4>
                                                    <p>Login using your&nbsp;Kalasalingam Mail !!!<br></p>
                                                </div>
                                                <form class="user" method="post" action="{{ url_for('/auth.login') }}">
                                                    {{loginFormObj.hidden_tag()}}
                                                    <div class="mb-3">
                                                        <!-- <input class="form-control form-control-user" type="email" id="exampleInputEmail-1" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="email"> -->
                                                        {{loginFormObj.email(class="form-control form-control-user",type="email",id="exampleInputEmail-1",aria_describedby="emailHelp",placeholder="Enter Email Address...",required="",inputmode="email")}}
                                                    </div>
                                                    <div class="mb-3">
                                                        <!-- <input class="form-control form-control-user" type="password" id="exampleInputPassword" placeholder="Password" name="password"> -->
                                                        {{loginFormObj.password(class="form-control form-control-user",type="password",id="exampleInputPassword",placeholder="Password",required="",inputmode="password")}}
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="custom-control custom-checkbox small">
                                                            <div class="form-check">
                                                                <!-- <input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"> -->
                                                                {{loginFormObj.remember_me(class="form-check-input custom-control-input",type="checkbox", id="formCheck-1")}}
                                                                <label class="form-check-label custom-control-label" for="formCheck-1">Remember Me</label></div>
                                                        </div>
                                                    </div>
                                                    <!-- <button class="btn btn-primary d-block btn-user w-100" type="submit">Login</button> -->
                                                    {{loginFormObj.submit(class="btn btn-primary d-block btn-user w-100")}}
                                                    <hr><a class="btn btn-primary d-block btn-google btn-user w-100 mb-2" role="button"><i class="fab fa-google"></i>&nbsp; Login with Google</a>
                                                    <hr>
                                                </form>
                                                <div class="text-center"><a class="small goToFor" role="button">Forgot Password?</a></div>
                                                <div class="text-center"><a class="small goToReg" role="button">Create an Account!</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item {{slide3}}">
                            <div class="card shadow-lg o-hidden border-0 my-5" style="height: 90%;">
                                <div class="card-body p-0" id="registerSlide">
                                    <div class="row">
                                        <div class="col-lg-5 d-none d-lg-flex">
                                            <div class="flex-grow-1 bg-register-image" style="background-image: url(&quot/static/img/stud_reg.jpg&quot;);"></div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="p-5">
                                                <div class="text-center">
                                                    <h4 class="text-dark mb-4">Create an Account!</h4>
                                                </div>
                                                <form class="user" method="post" action="{{ url_for('/auth.register') }}"  >
                                                    {{ RegistrationFormObj.hidden_tag() }}
                                                    <div class="row mb-3">
                                                        <div class="mb-3">
                                                            <!-- col-sm-6   mb-sm-0-->
                                                            <!-- <input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="First Name" name="first_name"> -->
                                                            {{ RegistrationFormObj.username(
                                                                class="form-control form-control-user",type="text",id="exampleFirstName",placeholder="User Name",required="",minlength="1",maxlength="64",pattern="^[A-Za-z][A-Za-z0-9_.]*$") }}
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <!-- <input class="form-control form-control-user" type="email" id="RegInputEmail" aria-describedby="emailHelp" placeholder="Email Address" name="email"> -->
                                                        {{ RegistrationFormObj.email(
                                                            class="form-control form-control-user",type="email",id="RegInputEmail",placeholder="Enter your klu mail: john123@klu.ac.in",required="") }}
                                                    </div>
                                                    <div id="result" class="mb-3"></div>
                                                    <div class="row mb-3">
                                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                                            <!-- <input class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Password" name="password"> -->
                                                            {{ RegistrationFormObj.password(
                                                                class="form-control form-control-user",type="password",id="RegPasswordInput",placeholder="Password") }}
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <!-- <input class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Repeat Password" name="password_repeat"> -->
                                                            {{ RegistrationFormObj.password2(
                                                                class="form-control form-control-user",type="password",id="RegRepeatPasswordInput",placeholder="Repeat Password" ) }}
                                                            <style>
                                                                #RegRepeatPasswordInput {
                                                                    data-bv-identical:"true";
                                                                    data-bv-identical-field:"password";
                                                                    data-bv-identical-message:"The password and its confirm are not the same"
                                                                }
                                                                #RegPasswordInput{
                                                                    data-bv-identical:"true";
                                                                data-bv-identical-field:"password2";
                                                                data-bv-identical-message:"The password and its confirm are not the same"
                                                                }
                                                            </style>
                                                        </div>
                                                    </div>
                                                    <!-- <button class="btn btn-primary d-block btn-user w-100" type="submit">Register Account</button> -->
                                                    {{ RegistrationFormObj.submit(
                                                        class="btn btn-primary d-block btn-user w-100",id="RegSubmit") }}
                                                    <hr><a class="btn btn-primary d-block btn-google btn-user w-100 mb-2" role="button"><i class="fab fa-google"></i>&nbsp; Register with Google</a>
                                                    <hr>
                                                </form>
                                                <div class="text-center"><a class="small goToFor" role="button">Forgot Password?</a></div>
                                                <div class="text-center"><a class="small goToLogin" role="button">Already have an account? Login!</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <!-- Start: Previous --><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><!-- End: Previous -->
                        <!-- Start: Next --><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a><!-- End: Next -->
                    </div>
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="{{slide1}}"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="1" class="{{slide2}}"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="2" class="{{slide3}}"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- Start: Features Clean -->
        <section class="features-clean">
            <div class="container">
                <!-- Start: Intro -->
                <div class="intro">
                    <h2 class="text-center">Features</h2>
                    <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
                </div><!-- End: Intro -->
                <!-- Start: Features -->
                <div class="row features">
                    <div class="col-sm-6 col-lg-4 item"><i class="fa fa-map-marker icon"></i>
                        <h3 class="name">Smart Lab Mangement</h3>
                        <p class="description">Built with tools like mail alerts, todo list, Assignment and Material management. Google Authentication.&nbsp;</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="fa fa-clock-o icon"></i>
                        <h3 class="name">Always available</h3>
                        <p class="description">Self deployed web app<br>Always ready self developed alternatives of third party support.</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="fa fa-list-alt icon"></i>
                        <h3 class="name">Mobile friendly</h3>
                        <p class="description">Mobile Responsive App<br>Built to work on all devices with no drawbacks.</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="fa fa-leaf icon"></i>
                        <h3 class="name">Progressive</h3>
                        <p class="description">Built with frameworks that supports and gives advantage to build the required functionalities.&nbsp;</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="icon ion-lock-combination icon"></i>
                        <h3 class="name">Secure</h3>
                        <p class="description">Secure authentication with most trusted packages and Google authentication support.</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="fa fa-wrench icon"></i>
                        <h3 class="name">Dynamic</h3>
                        <p class="description">Dynamic Management of Recourses and Dashboards to provide the best analysis and reports.</p>
                    </div>
                </div><!-- End: Features -->
            </div>
        </section><!-- End: Features Clean -->
    </div><!-- Start: Team Clean -->
    <section class="team-clean">
        <div class="container">
            <!-- Start: Intro -->
            <div class="intro">
                <h2 class="text-center">Team </h2>
                <p class="text-center">A team is a group of individuals (human or non-human) working together to achieve their goal. As defined by Professor Leigh Thompson of the Kellogg School of Management,<br></p>
            </div><!-- End: Intro -->
            <!-- Start: People -->
            <div class="row people">
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="static/img/1.jpg?h=2b439494a52449e70d3e160e94a5b097">
                    <h3 class="name">Ben Johnson</h3>
                    <p class="title">Musician</p>
                    <p class="description">A team is a group of individuals (human or non-human) working together to achieve their goal. As defined by Professor Leigh Thompson of the Kellogg School of Management.<br></p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="static/img/2.jpg?h=a00395ba14beda9605af5a138260cc52">
                    <h3 class="name">Emily Clark</h3>
                    <p class="title">Artist</p>
                    <p class="description">A team is a group of individuals (human or non-human) working together to achieve their goal. As defined by Professor Leigh Thompson of the Kellogg School of Management.<br></p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="static/img/3.jpg?h=5cf82a410a3124b5c2ec0ee942eda167">
                    <h3 class="name">Carl Kent</h3>
                    <p class="title">Stylist</p>
                    <p class="description">A team is a group of individuals (human or non-human) working together to achieve their goal. As defined by Professor Leigh Thompson of the Kellogg School of Management,<br></p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div><!-- End: People -->
        </div>
    </section><!-- End: Team Clean -->
    <footer class="bg-white shadow-lg sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © Vlab 2021</span></div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/bs-init.js?h=e2b0d57f2c4a9b0d13919304f87f79ae"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="static/js/Bootstrap-DataTables.js?h=ae06441082f660b204a3db1fc70b2970"></script>
    <script src="static/js/button.js?h=680b4117b702922add05e60855cb5960"></script>
    <script src="static/js/login.js?h=366aa5c761871fdf64f292a061bd5cf6"></script>
    <script src="static/js/theme.js?h=79f403485707cf2617c5bc5a2d386bb0"></script>
    <script>
        function validateEmail(email) {
        const re = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@klu\.ac.in$/;
        return re.test(email);
        }

        function validate() {
        const $result = $("#result");
        const email = $("#RegInputEmail").val();
        $result.text("");
        const $button = $("#RegSubmit")

        if (validateEmail(email)) {
            $result.text(email + " is valid klu mail id");
            $result.css("color", "green");
            $button.disabled = false
        } else {
            $result.text(email + " is not valid klu mail id");
            $result.css("color", "red");
            $button.disabled = true
        }
        return false;
        }

        $("#RegInputEmail").on("input", validate);
            </script>
</body>

</html>