<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Forgotten Password - Vlab</title>
    <meta property="og:type" content="website">
    <meta name="description" content="KARE Modern Virtual Lab.">
    <link rel="icon" type="image/png" sizes="300x168" href="{{url_for('static',filename='img/courseGraphic.png')}}">
    <link rel="icon" type="image/png" sizes="300x168" href="{{url_for('static',filename='img/courseGraphic.png')}}">
    <link rel="icon" type="image/png" sizes="300x168" href="{{url_for('static',filename='img/courseGraphic.png')}}">
    <link rel="icon" type="image/png" sizes="300x168" href="{{url_for('static',filename='img/courseGraphic.png')}}">
    <link rel="icon" type="image/png" sizes="300x168" href="{{url_for('static',filename='img/courseGraphic.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atma&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='fonts/fontawesome5-overrides.min.css')}}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
    
</head>

<body>
    {% include "topNav.html" %}
    <section class="bg-gradient-primary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-12 col-xl-10">
                    <div class="card shadow-lg o-hidden border-0 my-5">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-flex">
                                    <div class="flex-grow-1 bg-password-image" style="background-image: url(&quot/static/img/Pass.jpg&quot;);"></div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h4 class="text-dark mb-2">Reset Your Password</h4>
                                            <p class="mb-4">We get it, stuff happens. ALways there will a be a door open to help you.don't Worry.Just Enjoy Learning!!!</p>
                                        </div>
                                        
                                        <form class="user" method="post">
                                            {{ passwordResetFormObj.hidden_tag() }}
                                            
                                            <div class="row mb-3">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <!-- <input class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Password" name="password"> -->
                                                    {{ passwordResetFormObj.password(
                                                        class="form-control form-control-user",type="password",id="RegPasswordInput",placeholder="Password",
                                                        inputmode="password") }}
                                                </div>
                                                <div class="col-sm-6" style="text-align: center;">
                                                    <!-- <input class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Repeat Password" name="password_repeat"> -->
                                                    {{ passwordResetFormObj.password2(
                                                        class="form-control form-control-user",type="password",id="RegRepeatPasswordInput",placeholder="Repeat Password",inputmode="password" ) }}
                                                    
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <div class="custom-control custom-checkbox small">
                                                    <div class="form-check">
                                                        <input class="form-check-input custom-control-input showPassword" type="checkbox" id="showPasswordReg">
                                                        <label class="form-check-label custom-control-label" for="showPasswordReg">show passwords</label>
                                                    </div></div>
                                            </div>
                                            <!-- <button class="btn btn-primary d-block btn-user w-100" type="submit">Register Account</button> -->
                                            {{ passwordResetFormObj.submit(
                                                class="btn btn-primary d-block btn-user w-100",id="RegSubmit") }}
                                            <hr><a class="btn btn-primary d-block btn-google btn-user w-100 mb-2" role="button"><i class="fab fa-google"></i>&nbsp; Register with Google</a>
                                            <hr>
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{url_for('static',filename='js/bs-init.js')}}"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
        <script src="{{url_for('static',filename='js/Bootstrap-DataTables.js')}}"></script>
        <script src="{{url_for('static',filename='js/button.js')}}"></script>
        <script src="{{url_for('static',filename='js/login.js')}}"></script>
        <script src="{{url_for('static',filename='js/theme.js')}}"></script>
        <script>
            document.querySelector("#showPasswordReg").addEventListener(
      "click", function(){
        if(document.querySelector("#showPasswordReg").checked){
          document.querySelector("#RegPasswordInput").type="text"
          document.querySelector("#RegRepeatPasswordInput").type="text"
        }
        else{
          document.querySelector("#RegPasswordInput").type="password"
          document.querySelector("#RegRepeatPasswordInput").type="password"
    
        }
      }
    )
        </script>
    </section>
    {% include "footer.html" %}
</body>

</html>