<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Vlab</title>
    <meta property="og:type" content="website">
    <meta name="description" content="KARE Modern Virtual Lab.">
    <link rel="icon" type="image/png" sizes="300x168" href="assets/img/courseGraphic.png?h=cee61a77e4118dae6e7aa20b089c5084">
    <link rel="icon" type="image/png" sizes="300x168" href="assets/img/courseGraphic.png?h=cee61a77e4118dae6e7aa20b089c5084">
    <link rel="icon" type="image/png" sizes="300x168" href="assets/img/courseGraphic.png?h=cee61a77e4118dae6e7aa20b089c5084">
    <link rel="icon" type="image/png" sizes="300x168" href="assets/img/courseGraphic.png?h=cee61a77e4118dae6e7aa20b089c5084">
    <link rel="icon" type="image/png" sizes="300x168" href="assets/img/courseGraphic.png?h=cee61a77e4118dae6e7aa20b089c5084">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=95d171badaa9002c977cf77e8fa365d8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aguafina+Script&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Kanadaka&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akaya+Telivigala&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Akronim&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aladin&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alex+Brush&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allan&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amarante&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asset&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atma&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css?h=c2a3618fc145edb3ca7fb92db4b9f32b">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css?h=c2a3618fc145edb3ca7fb92db4b9f32b">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css?h=c2a3618fc145edb3ca7fb92db4b9f32b">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css?h=c2a3618fc145edb3ca7fb92db4b9f32b">
    <link rel="stylesheet" href="assets/css/styles.min.css?h=98421a1ceb68c7135563a074ae8f1d83">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" crossorigin="anonymous">
</head>

<body>
    <script src="assets/js/jquery.min.js?h=84e399b8f2181ccd73394fdeddff1638"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js?h=656aaffb18e6a1aff5fbfe3cf106e125"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="assets/js/script.min.js?h=db0a79ae4f925bf8843867f737346c47"></script>
</body>

</html>